{% for profile in site.data.profile %}
<div class="card mb-4">
    <h2 class="card-header text-center">Contact Info</h2>
    <div class="card-body">
        <div class="d-flex align-items-start">
            <div class="fa-layers fa-fw fa-2x me-3">
                <i class="fas fa-circle text-primary"></i>
                <i class="fas fa-male text-white" data-fa-transform="shrink-5"></i>
            </div>
            <div class="flex-grow-1">
                {{ profile.firstname }} {{ profile.middlename }} {{ profile.lastname }}
                <hr>
            </div>
        </div>
        <div class="d-flex align-items-start">
            <div class="fa-layers fa-fw fa-2x me-3">
                <i class="fas fa-circle text-primary"></i>
                <i class="fas fa-calendar-alt text-white" data-fa-transform="shrink-8"></i>
            </div>
            <div class="flex-grow-1">
                <time datetime="1990-01-01">1st of January 1990</time>
                <hr>
            </div>
        </div>
        <div class="d-flex align-items-start">
            <div class="fa-layers fa-fw fa-2x me-3">
                <i class="fas fa-circle text-primary"></i>
                <i class="fas fa-phone text-white" data-fa-transform="shrink-8"></i>
            </div>
            <ul class="flex-grow-1 list-unstyled">
                <li><a href="tel:+1234567890">
                    {{ profile.pubphone }}
                </a></li>
                {% if profile.skype %}
                <li><i class="fab fa-fw fa-skype text-muted"></i> <a href="#0">Skype_User</a></li>
                {% endif %}
                {% if profile.whatsapp %}
                <li><i class="fab fa-fw fa-whatsapp text-muted"></i> <a href="#0">Whatsapp_User</a></li>
                {% endif %}
                <li><hr></li>
            </ul>
        </div>
        <div class="d-flex align-items-start">
            <div class="fa-layers fa-fw fa-2x me-3">
                <i class="fas fa-circle text-primary"></i>
                <i class="fas fa-envelope text-white" data-fa-transform="shrink-8"></i>
            </div>
            <ul class="flex-grow-1 list-unstyled">
                <li><a href="mailto:mail@domain.com">
                    {{ profile.email }}
                </a></li>
                {% if profile.linkedin %}
                <li><i class="fab fa-fw fa-linkedin text-muted"></i> <a href="{{ profile.linkedin }}">LinkedIn</a></li>
                {% endif %}
                {% if profile.twitter %}
                <li><i class="fab fa-fw fa-twitter text-muted"></i> <a href="https://twitter.com/{{ profile.twitter }}">@{{ profile.twitter }}</a></li>
                {% endif %}
                <li><hr></li>
            </ul>
        </div>
        <div class="d-flex align-items-start">
            <div class="fa-layers fa-fw fa-2x me-3">
                <i class="fas fa-circle text-primary"></i>
                <i class="fas fa-home text-white" data-fa-transform="shrink-8"></i>
            </div>
            <div class="flex-grow-1">
                <address class="mb-0">
                    {% if profile.showpermaddress %}
                    {{ profile.permaddress.street }}
                    <br>
                    {{ profile.permaddress.city }}
                    <br>
                    {{ profile.permaddress.country }}
                    {% else %}
                    {{ profile.tempaddress.street }}
                    <br>
                    {{ profile.tempaddress.city }}
                    <br>
                    {{ profile.tempaddress.country }}
                    {% endif %}
                </address>
                {% if profile.showcontactform %}
                <hr>
                {% endif %}
            </div>
        </div>
        {% if profile.showcontactform %}
        <div class="d-flex align-items-start">
            <div class="fa-layers fa-fw fa-2x me-3">
                <i class="fas fa-circle text-primary"></i>
                <i class="fas fa-at text-white" data-fa-transform="shrink-8"></i>
            </div>
            <div class="flex-grow-1">
                <form action="mailto:bryan@bryanscott.ink">
                    <div class="mb-3">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="name">Name:</span>
                            <input type="text" class="form-control" name="name" placeholder="Your name here" aria-label="Your name" aria-describedby="name">
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="email">Email:</span>
                            <input type="email" class="form-control" name="email" placeholder="Your email here" aria-label="Your email" aria-describedby="email">
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="message"><i class="fas fa-pencil-alt"></i></span>
                            <textarea class="form-control" name="message" placeholder="Your message here" aria-label="Your message" aria-describedby="message" rows="3"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary">Send message</button>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}