<div class="card mb-4">
    <h2 class="card-header text-center">Contact Info</h2>
    <div class="card-body">
        <div class="d-flex align-items-start">
            <div class="fa-layers fa-fw fa-2x me-3">
                <i class="fas fa-circle text-primary"></i>
                <i class="fas fa-male text-white" data-fa-transform="shrink-5"></i>
            </div>
            <div class="flex-grow-1">
                Firstname Lastname
                <hr>
            </div>
        </div>
        <div class="d-flex align-items-start">
            <div class="fa-layers fa-fw fa-2x me-3">
                <i class="fas fa-circle text-primary"></i>
                <i class="fas fa-calendar-alt text-white" data-fa-transform="shrink-8"></i>
            </div>
            <div class="flex-grow-1">
                <time datetime="1990-01-01">1st of January 1990</time>
                <hr>
            </div>
        </div>
        <div class="d-flex align-items-start">
            <div class="fa-layers fa-fw fa-2x me-3">
                <i class="fas fa-circle text-primary"></i>
                <i class="fas fa-phone text-white" data-fa-transform="shrink-8"></i>
            </div>
            <ul class="flex-grow-1 list-unstyled">
                <li><a href="tel:+1234567890">(123)-456-7890</a></li>
                <li><i class="fab fa-fw fa-skype text-muted"></i> <a href="#0">Skype_User</a></li>
                <li><i class="fab fa-fw fa-whatsapp text-muted"></i> <a href="#0">Whatsapp_User</a></li>
                <li><hr></li>
            </ul>
        </div>
        <div class="d-flex align-items-start">
            <div class="fa-layers fa-fw fa-2x me-3">
                <i class="fas fa-circle text-primary"></i>
                <i class="fas fa-envelope text-white" data-fa-transform="shrink-8"></i>
            </div>
            <ul class="flex-grow-1 list-unstyled">
                <li><a href="mailto:mail@domain.com">mail@domain.com</a></li>
                <li><i class="fab fa-fw fa-linkedin text-muted"></i> <a href="#0">LinkedIn</a></li>
                <li><i class="fab fa-fw fa-twitter text-muted"></i> <a href="#0">@twitterUser</a></li>
                <li><hr></li>
            </ul>
        </div>
        <div class="d-flex align-items-start">
            <div class="fa-layers fa-fw fa-2x me-3">
                <i class="fas fa-circle text-primary"></i>
                <i class="fas fa-home text-white" data-fa-transform="shrink-8"></i>
            </div>
            <div class="flex-grow-1">
                <address class="mb-0">
                    Street Name 123<br>
                    ZIP Code and City<br>
                    Country
                </address>
                <hr>
            </div>
        </div>
        <div class="d-flex align-items-start">
            <div class="fa-layers fa-fw fa-2x me-3">
                <i class="fas fa-circle text-primary"></i>
                <i class="fas fa-at text-white" data-fa-transform="shrink-8"></i>
            </div>
            <div class="flex-grow-1">
                <form>
                    <div class="mb-3">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="name">Name:</span>
                            <input type="text" class="form-control" name="name" placeholder="Your name here" aria-label="Your name" aria-describedby="name">
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="email">Email:</span>
                            <input type="email" class="form-control" name="email" placeholder="Your email here" aria-label="Your email" aria-describedby="email">
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" id="message"><i class="fas fa-pencil-alt"></i></span>
                            <textarea class="form-control" name="message" placeholder="Your message here" aria-label="Your message" aria-describedby="message" rows="3"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary">Send message</button>
                </form>
            </div>
        </div>
    </div>
</div>