{% for profile in site.data.profile %}
{% for intro in site.data.introduction %}
<div class="card mb-4">
    <h2 class="card-header text-center">{{ profile.firstname }} {{ profile.middlename }} {{ profile.lastname }}</h2>
    <img src="{{ profile.image }}" alt="Portrait of Firstname Lastname" class="w-100">
    <div class="card-body">
        <p class="card-text lead">{{ intro.lead }}</p>
        <p class="card-text">{{ intro.toptext }}</p>
        <figure class="w-75 mx-auto text-center">
            <blockquote class="blockquote">
                <p>{{ intro.quote.text }}</p>
            </blockquote>
            <figcaption class="blockquote-footer">{{ intro.quote.author }}</figcaption>
        </figure>
        <p class="card-text">{{ intro.bottomtext }}</p>
    </div>
</div>
{% endfor %}
{% endfor %}