<div class="card mb-4">
    <h2 class="card-header text-center">Skills</h2>
    <div class="card-body">
        <div class="mb-3">
            {% for skill in site.data.skills %}

            <!--<h3 class="h5 mb-3">{{ group.groups }}</h3>-->

            <h4 class="h6 text-muted"><i class="fab fa-fw {{ skill.icon }}"></i> {{ skill.name }}</h4>
            <div class="progress mb-3">
                <div class="progress-bar bg-secondary w-{{ skill.percent }}" role="progressbar" aria-valuenow="{{ skill.percent }}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

            {% endfor %}
    </div>
</div>