<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% if page.title %}{{page.title}}{% else%}{{ site.title }}{% endif %}</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<script defer src="js/fontawesome-all.min.js"></script>
	</head>
	<body class="bg-light">
		{% for profile in site.data.profile %}
		{% if profile.showdevelopment %}
		<div class="container sticky-top text-center">
			<div class="badge bg-danger text-center">
				<h1>***** Development *****</h1>
			</div>
		</div>
		{% endif %}
		{% endfor %}
		<div class="container mt-4">
			<div class="row">
				<div class="col-12 col-lg-8">
					{% include introduction.html %}
					{% include work-experience.html %}
					{% include education.html %}
					{% include certifications.html %}
					{% include testimonials.html %}
				</div>
				<div class="col-12 col-lg-4">
					{% include contact-info.html %}
					{% include portfolio.html %}
					{% include skills.html %}
				</div>
			</div>
		</div>
		<script src="js/bootstrap.bundle.min.js"></script>
	</body>
</html>